* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --body-bg-color: #121214;
    --text-color: #E1E1E6;
    --title-color: #04D361;
    --form-color: #A8A8A8;
    --bg-button-color: #8257e5;
}

html {
    height: 100vh;
}

body {
    background: #121214 url(assets/read_news-compressed.jpg) top right;
    background-size: cover;
    background-position: top right;
    background-repeat: no-repeat;
    background-attachment: fixed;

    /* Shorthand
    background: color > image > position > reapeat > size > attachment
    */
}

main {
    width: 53%;
    height: 100vh;
    background-color: var(--body-bg-color);
    font-family: Work Sans, Spartan, sans-serif;
    padding: 0px 30px;
}


main header img {
    width: 389px;
    margin: 50px 0px 92px 0px;
}

main section #paragraph {
    padding-bottom: 50px;
} 
main section #form-email {
    margin-bottom: 50px;
}

#paragraph p:nth-child(1){
    font-weight: bold;
    font-size: 24px;
    color: var(--title-color);
}

#paragraph p:nth-child(2) {
    font-weight: bold;
    font-size: 14px;
    color: white;
    margin: 9px 0px 6px 0px;
}

#paragraph p:nth-child(3) {
    font-weight: normal;
    font-size: 14px;
    color: #FFF;
    line-height: 19px;
    
}

#form-email {
    width: 59.8vw;
}

#form-email label {
    display:block;
    margin-bottom: 17px;
    font-size: 14px;
    font-weight: bold;
    color: #A8A8A8;
}

#form-email div {
    display: flex;
    position: relative;
}

input#email {
    width: 150%;
    height: 48px;
    border: none;
    border-left: 5px solid #04D361;
    padding: 17px 15px;
    box-shadow: 4px 10px 15px rgba(0, 0, 0, 0.5);
    border-radius: 0px 5px 6px 0px;
}

button#submit-email {
    background-color: #8257E5;
    border-radius: 0px 5px 5px 0px;
    border: none;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
}

main section p {
    font-size: 14px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

main section p a {
    color: #8257E5;
}


main section form + p a:hover {
    text-decoration: underline;
}


/* Pesquisar: O que é Typical Device Breakpoint
-----------------------------------------
Pequenas telas: até 600px;
Celular: de 600px até 768px;
tablet: 768px até 992px;
Desktop: 992px até 1200px;
Grande Telas: Acima de 1200px;
*/

@media screen and (max-width: 768px) {
    body {
        background-image: none;
    }

    main {
        width: 100%;
    }

    header > img {
       display: none;
    }

    section div#paragraph {
        padding-top: 100px;
    }

    #form-email {
        width: 100%;
    }
}


@media screen and (min-width: 768px) and (max-width: 992px) {
    ::-webkit-scrollbar {
        display: none;
    }
    body {
        background-size: cover;
    }

    main {
        height: 100vw;
        position: fixed;
    }

    section div#paragraph {
        margin-top: -30px;
    }

}